body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set minimum height to ensure footer stays at the bottom */
  background-color: #ecf9ff;
}

header {
  position: relative;
  padding: 40px 0;
  display: flex;
  padding-bottom: 60px;
  background-color: #263141; /* Set background color directly for the header */
  opacity: 1; /* Adjust the opacity as needed */
  color: #CBD5E1;
  justify-content: space-evenly;
}

.profile-picture {
  /* Optional: Set a fixed width and height for the profile picture if needed */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex: 1 1 auto;
  width: 40%;
}

.profile-picture img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.header-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto; /* Let the header content expand to fill remaining space */
  width: 40%;
}

.header-content p {
  text-align: justify; /* Justify the paragraph text */
  margin-right: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 40px;
  flex: 1; /* Allow main content to grow and push footer to the bottom */
}

.card {
  background-color: #3D4B5F;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 40%;
  color: white;
}


footer {
  background-color: #263141;
  color: #333;
  text-align: center;
  padding: 10px;
  color: #CBD5E1;
}

nav {
  background-color: #101825;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav .branding {
    font-size: 1.5rem;
    margin-left: 10px; /* Add some space between branding and burger menu */
    color: #CBD5E1;
  }

nav .nav-links {
  list-style: none;
  display: flex;
  padding: 5px; /* Add padding to the links */
  border-radius: 10px; /* Add rounded corners */
}

nav .nav-links li {
  margin: 0 10px;
}

nav .nav-links li a {
  color: #CBD5E1;
  text-decoration: none;
}

.social-icon {
  display: inline-block;
  margin-top: 0;
  list-style: none;
  padding-inline-start: 0;
}

.social-icon li  {
  margin: 10px 0;
  float: left;
}

.social-icon li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  padding: 0;
  margin-right: 0;
  text-align: center;
  border-radius: 50%;
}

.social-icon li .fa {
line-height: 30px;
padding: 4px 0;
margin-right: 30px;
}

/* Add hover animation */
nav .nav-links li a:hover {
    background-color: #C4D7B2;
  }
  

/* ... Mobile styles ... */
@media (max-width: 768px) {

  nav {
    flex-direction: row; /* Revert to row direction on mobile */
    justify-content: space-between; /* Revert to space-between alignment */
    align-items: center; /* Revert to center alignment */
  }

  nav .nav-links {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 10px;
    border-radius: 10px; /* Add rounded corners for mobile menu */
  }

  nav .nav-links li {
    margin: 10px 0;
  }

  nav .nav-links li a {
    color: #fff;
  }

  nav .nav-links.active {
    display: flex;
  }

  nav .branding {
    margin-left: 0; /* Remove left margin on mobile */
    margin-bottom: 10px; /* Add some space below branding on mobile */
  }

  /* Show burger menu icon on mobile */
  nav .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    order: 2; /* Move burger menu to the right */
  }

  .bar {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
  }
  .card {
    width: 90%;
  }
}


@media (max-width: 400px) {
  header {
    flex-direction: column;
    
  }
  .profile-picture{
    width: 100%;
  }

  .header-content{
    text-align: center;
    width: 100%;
  }
  .header-content p{
    text-align: center;
  }
  .header-content ul{
    text-align: center;
    margin: 0 auto;
  }
  
}